*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 600;
    text-decoration: none;
}

header {
    width: 100%;
    min-height: 40px;
    background-color: #ffffff;
    color: white;
    text-align: center;
    font-size: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
}

header img {
    margin-left: 2%;
    max-height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 400px;
    vertical-align: middle;
}

header button {
    width: 125px;
    height: 60px;
    padding: 8px 16px;
    font-size: 14px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: bold;
    background-color: #0047A0;
    color: #CD2E3A;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#login{
    background-color: #0048a000;
    margin-left: auto;
    margin-right: 10px;
}

#login:hover{
    color: #d3515c;
    transform: scale(1.1);
}

#cad{
    margin-right: 50px;
    background-color: #ffffff;
    border: 2px solid #CD2E3A;
}

#cad:hover{
    border: 2px solid #ffffff;
    background-color: #CD2E3A;
    color: #ffffff;
    transform: scale(1.1);
}

nav{
    width: 100%;
    min-height: 50px;
    margin-bottom: 5px;
    background-color: #ffffff;
    border-top: 1px solid #0111278c;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

nav a{
    font-size: 18px;
    color: #0a0e2cc7;
    font-family: "Noto Sans", sans-serif;
    display: inline-block;
    transition: all 0.5s ease;
    background-image: linear-gradient(to right, #0047A0, #0047A0);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: background-size 0.3s ease-in-out;
}

nav a:hover{
    color: #0047A0;
    background-size: 100% 2px;
    transform: scale(1.1);
}

/* hero section start */
.wrap {
    position: relative;
    width: 100%;
    height: 45vh;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.623);
}

.bg-video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.bg-video > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* hero section end */

.translucent-box{
    position: relative;
    z-index: 1002;
    width: 100%;
    min-height: 45vh;
    background-color: #0a0e2c7e;
}

main{
    background-color: aqua;
    width: 90%;
    min-height: 800px;
    color: #03295e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    margin: 20px auto;
}

footer {
    width: 100%;
    min-height: 25px;
    background-color: #03295e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    z-index: 1003;
}

footer p {
    font-size: 12px;
    width: 100%;
}